.venv/
venv/

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Variables d'environnement / secrets
.env

# Notebooks
.ipynb_checkpoints/

# Éditeurs et système
.vscode/
.idea/
.DS_Store
Thumbs.db
data/trivial.duckdb
dbt_trivial/target/
dbt_trivial/logs/
dbt_trivial/.user.yml

# dbt / DuckDB (générés)
target/
logs/
dbt_packages/
warehouse/
*.duckdb
warehouse/*.duckdb
target/
logs/
.user.yml
